.Header1{
    opacity: 0;
}

.stick{
    width: 1px;
    height: 20px;
    background: #fff;
    margin: 0 9px 0 -26px;
    opacity: 50%;
}

.logo2{
    opacity: 50%;
    margin: 0 ;
}

.logo{
    width: 60px;
    height: 60px;
}

li{
    color: aliceblue;
    opacity: 50%;
    list-style-type: none;
}

li:hover{
    color: #fff;
    opacity: 90%;
    list-style-type: none;
    transition: 0.3s;
}

li:active{
    color: #3CB9F3;
    list-style-type: none;
}

p{
    color: aliceblue;
}

.text_nav{
    margin: 0 0 0 15px ;
    color: #fff;
    opacity: 50%;
}

nav{
    width: 1200px;
    height: 60px;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block_nav{
    width: 463px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_mini_block{
    width: 159px;
    height: 60px;
    display: flex;
    align-items: center;
}
