.Main1{
    width: 1440px;
    height: 900px;
    margin:  0 auto;
    display: flex;
}
.logo1{
    width: 766px;
    height: 726px;
    margin: 0px 0 0 -9px;
}
.main_title{
    color: #3CB9F3;
    font-size: 64px;
    margin: 160px 0 0 150px;
}
.main_text{
    color: #fff;
    opacity: 50%;
    margin: 5px 0 18px 153px;
    font-size: 15px;
}
.btn_main{
  background: linear-gradient(90deg, #007BFF, #00D4FF);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
margin: 0 0 0 153px;
transition: all 0.3s ease;
}

.main_block{
    opacity: 0;
    font-size: 21px;
}
.btn_main:hover{
    background: linear-gradient(90deg, #00D4FF, #007BFF);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 153px;
    transform: scale(1.05);
}
.btn_main:active{
    transform: scale(0.98);
    margin: 0 0 0 153px;
}
