.Main1{
    width: 1440px;
    height: 900px;
    margin:  0 auto;
    display: flex;
}
.logo1{
    width: 766px;
    height: 726px;
    margin: -44px 0 0 -9px;
}
.main_title{
    color: #3CB9F3;
    font-size: 64px;
    margin: 160px 0 0 150px;
}
.main_text{
    color: #fff;
    opacity: 50%;
    margin: 5px 0 18px 150px;
    font-size: 15px;
}
button{
    width: 141px;
    height: 43px;
    margin: 0 0 0 150px;
    background: #3CB9F3;
    border: none;
    color: #fff;
    border-radius: 10px;
    border: solid 2px #fff;
    font-size: 21px;
}