@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.Projects{
    width: 1440px;
    margin: 0 auto;
    height: 2315px;
}
h2{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin: -110px 0 44px 0;
}
h3{
    margin: 66px  0 0 0 ;
    color: #fff;
    font-size: 32px;
}
.pr_block{
    width: 1350px;
    height: 634px;
    background: #121212;
    border-radius: 24px;
    display: flex;
    margin: 31px auto 0 auto;
    justify-content: space-around;
}

.Log{
    width: 626px;
    height: 500px;
    margin: 66px  0 0 0;
}
.mb_text{
    color: #fff;
    opacity: 50%;
}
.pr_btn{
    width: 139px;
    height: 48px;
    background: none;
    border: solid 2px #3B3B3B;
    border-radius: 8px;
    font-family: "Rubik", serif;
    margin: 273px 0 0 0;
    color: #fff;
}
.title{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 110px;
}
.pred_text{
    color: #D9E6F2; /* Светлый текст */
  font-size: 18px;
  line-height: 1.8;
  font-family: "Rubik", serif;
}
.pred_block{
    width: 1440px;
    height: 120px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_predd{
    background: linear-gradient(90deg, #00A6FF, #00D4FF);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  font-weight: bold;
  margin: 20px 112px 0 0;
}
.btn_predd:hover{
    background: linear-gradient(90deg, #00D4FF, #00A6FF);
    transform: scale(1.1);
}
.btn_predd:active{
    transform: scale(0.95);

}