@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", serif;
    height: 6164px;
    margin: -21px auto 0 auto;
    background: linear-gradient(to bottom, #000000, #0073cf);
    padding: 33px 0 0 0;
}